fastapi
granian
pydantic
bleach
types-bleach
colorlog
faiss-cpu
weaviate-client
requests
tenacity
dotenv
redis[hiredis]
ddgs
crawl4ai
aiohttp
beautifulsoup4
sentence-transformers
geopy
Pillow
python-multipart
psycopg2-binary
protobuf>=4.21.0,<5.0.0
grpcio

# dev
uv
mypy
ruff
pytest
pytest-asyncio